$width: 420px;
$height: 400px;
$paginBullAct: red;
$sliderBack: darken(#fff, 2%);
$accent-orange: orange;
$accent: red;
$fontSlider: Oswald, sans-serif;

$blue: #2962ff;
$darkBlue: #07112b;
$middleBlue: lighten($darkBlue, 10%);