@import 'var';
@import 'config';
@import 'likely';
@import 'swiper';
@import 'swiper-cust';
@import 'likely';

/*font-family: 'Tangerine', cursive;
	font-family: 'Monoton', cursive;
	font-family: 'Lato', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Oswald', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Roboto', sans-serif;*/
$img-canoe: url(../images/svg-file/canoe-color-2.svg);
$deg-canoe: -15deg;
$img-paddle: url(../images/svg-file/paddle.svg);
@mixin backimage($img-svg, $deg-canoe, $right, $top, $left, $bottom) {
	content: '';
	position: absolute;
	right: $right;
	top: $top;
	left: $left;
	bottom: $bottom;
	background-image: $img-svg;
	background-repeat: no-repeat;
	width: 49px;
	height: 49px;
	z-index: 0;
	transform: rotate($deg-canoe);
}

%menu-underline {
	content: '';
	display: inline-block;
	position: absolute;
	width: 67%;
	margin: 0 auto;
	height: 1px;
	background-color: red;
	background-repeat: no-repeat;
	left: 0;
	right: 0;
	bottom: 20px;
}

%icons {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

%wave-line {
	display: block;
	background-size: cover;
	background-position: center;
	z-index: 0;
	content: '';
	position: absolute;
	background-image: url(../images/svg-file/line-wave.svg);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.1;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

* {
	padding: 0;
	margin: 0;
	vertical-align: top;
	box-sizing: border-box;
	border: 0;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
}

.header-wave-line {
	position: relative;
	&:before {
		@extend %wave-line;
		overflow: hidden;
	}
}

.first-position-header {
	position: relative;
	background-color: #2962ff;
	&:before {
		@extend %wave-line;
		overflow: hidden;
		opacity: 1;
	}
}

main {
	position: relative;
	min-height: 100%;
	width: 100%;
	flex: 1 0 auto;
	padding-bottom: 100px;
}

.container-cust {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.header__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	&-first-position {
		position: relative;
		display: flex;
		justify-content: unset;
		align-items: center;
		width: 100%;
	}
	&_background-darkblue {
		background-color: $middleBlue;
	}
}

.nav-footer-wrapper {
	position: relative;
	display: flex;
	padding: 5px;
	justify-content: center;
	align-items: center;
	width: 100%;
	a {
		text-decoration: none;
	}
}

.nav-wrapper {
	position: relative;
	display: flex;
	padding: 5px;
	justify-content: center;
	align-items: center;
	width: 100%;
	a {
		text-decoration: none;
	}
	&_logo {
		position: relative;
		display: flex;
		padding: 5px;
		justify-content: center;
		align-items: center;
		width: 100%;
		.logo-link {
			position: absolute;
			z-index: 2;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
		}
		.logo {
			background-color: wheat;
			display: flex;
			align-self: center;
			justify-content: center;
			position: relative;
			z-index: 10;
			color: #0e2257;
			font-family: 'Tangerine', cursive;
			font-weight: 700;
			font-size: 2rem;
			padding: 9px;
			border-radius: 50%;
			&:before {
				@include backimage($img-canoe, $deg-canoe, unset, 3px, 32.5px, unset);
			}
			&:after {
				@include backimage($img-paddle, 30deg, unset, 30px, 20px, unset);
			}
			&:hover {
				box-shadow: 3px 2px 2px rgba(#333, .5);
				cursor: pointer;
			}
		}
	}
}

.logo-litera {
	color: red
}

.nav {
	z-index: 10;
	position: relative;
	margin: 0 auto;
	max-width: 700px;
	width: 100%;
	&__line {
		margin-top: 10px;
		z-index: 10;
		position: absolute;
		left: 0;
		bottom: -2px;
		height: 1px;
		background-color: red;
		transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
	}
	&__list {
		width: 100%;
		margin: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__link {
		font-family: Oswald, sans-serif;
		font-weight: 100;
		letter-spacing: 2px;
		color: #fff;
		text-decoration: none;
		display: block;
		&:hover {
			text-decoration: none;
			color: #eee;
		}
	}
	&__item {
		list-style: none;
		position: relative;
	}
}

.pattern {
	background: transparent;
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	&_border-blue {
		border: 1px solid rgba($middleBlue, .3);
	}
	&-circle {
		border-radius: 50%;
		border: 1px solid darken(#828c8c, 15%);
		top: 3px;
		bottom: 3px;
		left: 3px;
		right: 3px;
		&:before {
			border-radius: 50%;
			opacity: 0.2;
			display: block;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 0;
			background-image: url(../images/dest/skandinavian-pattern-mini.png);
			background-position: center;
		}
	}
}

.header__title {
	font-size: 76px;
	font-family: 'Tangerine', cursive;
	position: relative;
	z-index: 10;
	margin: 0 auto;
	letter-spacing: 5px;
	line-height: 140%;
	a {
		color: #f5f5f5;
		&:hover {
			text-decoration: none;
			color: lighten(red, 25%);
		}
	}
}

.header__title_celtic {
	font-family: $ithornet;
}

.top-menu {
	width: 100%;
}

.mobile-menu-button {
	display: none;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: auto;
	margin-left: 15px;
	&:before {
		@extend %icons ;
		background-image: url(../images/svg-file/menu-icon-3.svg);
		width: 25px;
		height: 25px;
	}
	&:hover {
		cursor: pointer;
		background-color: rgba(#fff, 0.1);
	}
}

.mobile-menu {
	padding-top: 50px;
	max-width: 0;
	overflow: hidden;
	display: block;
	height: 100%;
	position: fixed;
	z-index: 110;
	left: 0;
	background-color: rgba(#0e2257, .9);
	transition: .7s ease;
	.top-menu {
		position: relative;
		.nav {
			z-index: 10;
			position: relative;
			&__line {
				margin-top: 10px;
				display: inline-block;
				z-index: 10;
				position: absolute;
				left: 0;
				bottom: -2px;
				height: 1px;
				background-color: black;
				transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
			}
			&__list {
				align-items: flex-start;
				flex-direction: column;
			}
			&__link {
				display: inline-block;
				justify-content: flex-start;
			}
		}
	}
	.close {
		margin-right: 5px;
		margin-top: 5px;
		color: #fff;
		border-radius: 3px;
		box-shadow: 3px 2px 1px rgba(#222, .2);
		width: 25px;
		height: 25px;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 25px;
		line-height: 25px;
		border: 1px solid #fff;
		font-weight: 100;
		position: absolute;
		right: 0;
		top: 0;
		&:hover {
			cursor: pointer;
		}
	}
}

.search-icon {
	width: 35px;
	height: 35px;
	position: relative;
	z-index: 12;
	border-radius: 50%;
	margin-right: 15px;
	&:before {
		@extend %icons ;
		background-image: url(../images/svg-file/search-1.svg);
		width: 34px;
		height: 34px;
		border-radius: 50%;
	}
	&:hover {
		cursor: pointer;
		background-color: rgba(#fff, .1);
	}
}

.search-field {
	position: absolute;
	left: 0;
	top: 45px;
	padding: 5px;
	background-color: lighten($blue, 3%);
	opacity: 0.8;
	width: 100%;
	border-top: lighten($blue, 3%) 1px solid;
	z-index: 20;
	display: none;
	input[type=text] {
		width: 100%;
		padding: 5px 10px;
		border: lighten($blue, 10%) 1px solid;
		color: $dark;
		outline: none;
		&:focus {
			border-color: lighten($blue, 15%);
		}
		&::placeholder {
			color: rgba(#333, .8);
			font-family: arial, sans-serif;
			font-style: italic;
			font-size: 16px;
		}
	}
}

.top-line {
	position: relative;
	z-index: 100;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.img-responsiv {
	width: 100%;
	height: auto;
	&:hover {
		cursor: pointer;
	}
}

.test {
	border: 1px solid red;
}

.content-wrapper {
	display: flex;
	max-width: 100%;
	padding: 0 15px;
	.short-text {
		padding: 15px;
	}
}

.type-one {
	.col-md-6,
	.col-md-4,
	.col-md-12 {
		padding: 0;
	}
	&__date {
		font-family: Oswald, sans-serif;
		font-size: 12px;
		color: #00bfff;
		margin: 0 5px 0 15px;
		b {
			color: $orange;
		}
	}
	&__item {
		padding: 2px 0 15px 0;
		/*border-bottom: 1px solid rgba(#333, 0.8);*/
		&:before {
			content: '';
			display: block;
			border-top: 1px solid rgba(#333, 0.8);
			padding-top: 15px
		}
		&:first-child {
			border-top: 1px solid rgba(#333, 0.8);
			padding-top: 3px;
		}
	}
	.text {
		position: relative;
		&:first-child {
			border-left: 1px solid rgba(#333, 0.2);
			p {
				padding-left: 15px;
			}
		}
	}
	&_position-2 {
		position: relative;
	}
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-left: 0 solid rgba(#333, .3);
	border-right: 0px solid rgba(#333, .3);
	transition: .25s ease;
	&:hover {
		background-color: rgba(yellow, .05);
		top: 5px;
		bottom: 5px;
		left: 5px;
		right: 5px;
		border: 1px solid rgba(#333, .2);
		border-radius: 5px;
		transition: .25s ease;
	}
}

.second-type {
	.col-md-6,
	.col-md-4,
	.col-md-3 {
		padding: 0;
	}
	.item-comments-count {
		color: #fff;
		&:before {
			background-image: url(../images/svg-file/comment-icon-1.svg)
		}
	}
	&__item {
		position: relative;
	}
	&__date {
		margin: 0 15px;
		font-family: Oswald, sans-serif;
		font-weight: 300;
		font-size: 14px;
	}
	&__overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border: 1px solid rgba(#fff, .1);
		transition: .25s ease;
		&:hover {
			top: 10px;
			bottom: 10px;
			left: 10px;
			right: 10px;
			border: 1px solid rgba(#fff, .5);
			transition: .25s ease;
		}
	}
	&__description {
		position: absolute;
		bottom: 15px;
		left: 0;
		margin-left: 15px;
		color: #fff;
		.likely-custom .likely__widget {
			background-color: unset;
			color: #fff;
			font-family: Oswald, sans-serif;
			font-size: 12px;
			display: flex;
			border: 1px solid rgba(#fff, 1);
			padding: 0 4px 0 3px;
			margin-left: 10px;
			border-radius: 5px;
		}
		.likely-custom .likely__icon {
			padding-left: unset;
			svg {
				fill: #fff;
			}
		}
	}
}

.item-comments {
	&-count {
		padding-left: 27px;
		position: relative;
		text-decoration: underline;
		color: $orange;
		font-family: Oswald, sans-serif;
		font-size: 12px;
		&:before {
			content: '';
			display: block;
			background-image: url(../images/svg-file/comment-icon.svg);
			position: absolute;
			background-repeat: no-repeat;
			left: 0;
			top: 0;
			width: 30px;
			height: 30px;
		}
	}
}

.home-section {
	/*border-top: 1px solid rgba($textcolor, .8);
	padding-top: 3px;
	&:before {
		content: '';
		display: block;
		border-top: 1px solid rgba($textcolor, .8);
	}*/
	h2 {
		padding-left: 15px;
	}
}

.article-blockquote {
	line-height: 1.4rem;
	font-family: Roboto, sans-serif;
	font-style: italic;
	font-size: 1.1rem;
	border-left: 3px solid rgba($textcolor, 1);
	padding: 0 30px;
}

.section-category-title {
	margin-left: 35px;
}

.main-aside_shadow {
	margin-top: 20px;
}

footer {
	flex-shrink: 0;
	width: 100%;
	.footer-content-wrapper {
		background-color: $middleBlue;
		padding: 15px 0;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.copyrights {
			padding: 0 10px;
			color: rgba(#fff, .5);
			font-weight: 100;
			font-size: 12px;
			span {
				display: flex;
				justify-content: center;
				text-align: center;
			}
		}
	}
}

.nav-soc {
	padding: 15px 0 0 0;
	display: flex;
	&__list {
		display: flex;
		list-style: none;
	}
	&__link {
		display: block;
		border: 1px solid $darkBlue;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		margin: 0 10px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}

.img-float {
	float: left;
	display: inline-block;
	width: 100%;
}

.text {
	padding: 5px;
}

.likely-custom {
	display: flex;
	justify-content: center;
	align-items: center;
	.likely {
		&__widget {
			background-color: darken(#fff, 5%);
			color: $textcolor;
			font-family: Oswald, sans-serif;
			font-size: 12px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			z-index: 20;
			border: 1px solid rgba(#333, .2);
			padding: 0 4px 0 3px;
			margin: 0 5px;
			border-radius: 5px;
			&:hover {
				cursor: pointer;
				svg {
					fill: orange;
				}
			}
		}
		&__button {
			padding-left: 5px;
		}
		&__icon {
			display: flex;
			border-radius: 100%;
			svg {
				fill: deepskyblue;
			}
		}
	}
}

.category__item {
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
	border-top: 1px solid rgba($textcolor, .1);
}

.category-list-item {
	.overlay {
		border-left: 1px solid rgba(51, 51, 51, .1);
		border-right: 1px solid rgba(51, 51, 51, .1);
	}
}

.tabs {
	width: 100%;
	display: flex;
	&__list {
		display: flex;
		position: relative;
		justify-content: space-between;
		width: 100%;
		list-style-type: none;
	}
	.tab {
		padding: 10px 0;
		margin: 0 auto;
		position: relative;
		border-radius: 5px 5px 0px 0px;
		color: #fff;
		font-family: Oswald, sans-serif;
		font-weight: 200;
		font-size: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		background-color: rgba(#0e2257, 6);
		border-bottom: 1px solid rgba($textcolor, .6);
		&:hover {
			cursor: pointer;
		}
		span {
			width: 100%;
			border-right: 1px solid rgba(#fff, 1);
			line-height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
		}
		.fixed-width {
			max-width: 96px;
			width: 100%;
		}
		&-active {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #fff;
			color: $textcolor;
			font-weight: 500;
			position: relative;
			z-index: 10;
			border-left: 1px solid rgba($textcolor, .6);
			border-top: 2px solid rgba($textcolor, .6);
			border-bottom: unset;
			span {
				border: unset;
			}
		}
		&:last-child {
			span {
				border: unset;
			}
		}
	}
}

.day {
	display: none;
	&-active {
		display: block;
	}
}

blockquote {
	border-left: 3px solid $mainColor;
	padding: 0 15px;
}

.breadcrumbs {
	font-family: Oswald, sans-serif;
	ul {
		display: flex;
		list-style: none;
		li {
			padding-left: 5px;
			font-size: 13px;
			text-transform: lowercase;
			a {
				display: block;
				white-space: nowrap;
				color: lighten($textcolor, 15%);
				&:hover {
					color: $accent;
				}
				span {
					color: rgba($darkBlue, 1);
				}
			}
			&:first-child {
				a {
					color: lighten($textcolor, 35%);
					&:hover {
						color: $accent;
					}
				}
			}
		}
		.active {
			color: $darkBlue;
		}
	}
}

.iframe-map {
	width: 100%;
	height: 320px;
}

.article-content {
	padding: 15px;
}

.fixed-nav {
	position: fixed;
	top: 32px;
	left: 0;
	right: 0;
	z-index: 50;
}

.aside-box {
	padding: 0 5px;
	a {
		color: $textcolor;
		font-size: 14px;
		text-decoration: none;
	}
}

.item-comments {
	a.item-comments-count {
		font-size: 12px;
	}
	align-items: center;
}

.lb-header {
	text-transform: uppercase;
	font-weight: 700;
	border-top: 1px solid rgba(#333, .2);
	border-bottom: 1px solid rgba(#333, .2);
}

.lb-item {
	border-bottom: 1px solid rgba(#333, .2);;
	padding: 5px;
	.lb-catname {
		font-weight: 600;
		font-size: 18px;
	}
}

span.date {
	font-size: 12px;
	font-family: Oswald, sans-serif;
	line-height: normal;
}

.aside-box {
	.latest-comments {
		color: $textcolor;
		font-size: 12px;
		text-transform: lowercase;
	}
	a.dsq-widget-user {
		text-transform: capitalize;
		display: block;
	}
	img.dsq-widget-avatar {
		padding: 0px 3px 3px 0px;
		float: left;
		border-radius: 50%;
	}
	.dsq-widget-meta {
		a {
			color: $textcolor;
			text-transform: lowercase;
		}
		.dsq-widget-comment {
			font-size: 12px;
		}
	}
}

.read-more {
	font-weight: 600;
	ul {
		li {
			list-style: none;
			font-weight: 300;
			color: $textcolor;
			a {
				color: $textcolor;
				font-size: 14px;
				text-decoration: underline;
			}
		}
	}
}

.read-more {
	margin-bottom: 39px;
	padding-top: 30px;
}

.pagination-section {
	padding: $gutter*2 0;
	.button {
		display: block;
		margin: 0 auto;
		max-width: 300px;
		width: 100%;
		text-align: center;
		background-color: $mainColor;
		border-radius: 20px;
		padding: 3px 15px;
		color: #fff;
	}
	&-first {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: $gutter 0;
		background: none;
		border-top: 1px solid #dfdfdf;
	}
}

.pagination {
	padding-top: 12px;
	display: flex;
	justify-content: center;
	a, span {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 5px 0 0 1px;
		width: 42px;
		height: 42px;
		border-radius: 5px;
		border: 2px solid $mainColor;
		font-size: 18px;
		font-weight: 800;
		text-decoration: none;
		color: $mainColor;
		transition: border-color .25s ease, color .25s ease;
	}
	a {
		&:hover {
			border-color: $accent;
			color: $accent;
		}
		&.pagination-left, &.pagination-right {
			color: $accent;
		}
	}
	span {
		&.active {
			background-color: $mainColor;
			color: #fff;
		}
	}
	.pagination-left, .pagination-right {
		border: none;
		font-size: 32px;
		width: 30px;
	}
}

.header__wrapper-first-position {
	flex-direction: column;
	&:before {
		content: '';
		display: block;
		position: absolute;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url(../img/svg-file/earth-green.svg);
		left: 0;
		top: 3px;
		margin-left: 15px;
		width: 100px;
		height: 100px;

	}
}

.roll-up {
	border-radius: 50%;
	display: none;
	position: fixed;
	right: 15px;
	top: 90vh;
	z-index: 50;
	width: 40px;
	height: 40px;
	&:hover {
		cursor: pointer;
	}
}

.img-fixed {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 150;
}

.img-responsive {
	display: block;
	width: 100%;
}

//---form---styles-------
.container-fluid.padding-none {
	padding: unset;
}

.form-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $mainColor;
	color: #fff;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif
}

.cancel {
	position: relative;
	display: flex;
	margin: 5px 15px 0 auto;
	width: 32px;
	height: 32px;
	&:before {
		position: absolute;
		display: block;
		content: '';
		background-image: url(../images/svg-file/close.svg);
		background-size: contain;
		background-repeat: no-repeat;
		right: 0;
		top: 0;
		left: 0;
		bottom: 0;
		padding: 2px;
		width: 31px;
		height: 31px;
	}
	&:hover {
		cursor: pointer;
	}
}

.trigger-wrapper {
	display: flex;
	justify-content: center;
	.trigger {
		display: block;
		border-radius: 5px;
		text-align: center;
		font-family: Oswald, 'sans-serif';
		font-weight: 100;
		width: 200px;
		border: 1px solid #333;
		box-shadow: 4px 3px 2px rgba(#333, .5);
		font-size: 20px;
		background-color: $mainColor;
		color: #fff;
		&:hover {
			cursor: pointer;
		}
	}
}

.box {
	display: block;
	width: 100%;
	max-width: 400px;
	padding: 0 15px;
}

.form-group label {
	display: block;
	margin-bottom: 6px
}

.form-group input,
.form-group textarea {
	width: calc(100% - 24px);
	font-size: 16px;
	padding: 6px 12px
}

.form-group {
	margin-bottom: 15px
}

.form-group textarea {
	resize: none
}

.control-file input[type="file"] {
	font-size: 16px;
	display: block;
	margin-top: 7px
}

.control-file {
	margin-bottom: 20px
}

.box button {
	display: block;
	width: 100%;
	background-color: #fff;
	color: #222;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid #fff;
	padding: 6px 0;
	transition: .2s;
	margin-bottom: 20px;
}

.box button:hover {
	background-color: #fa8322;
	color: #fff
}

.box button:focus {
	outline: none
}

.text-right {
	text-align: right;
}

.type__one-item_position-1 {
	.text h3 {
		min-height: 50px;
		line-height: normal;
	}
}

video.img-responsive {
	object-fit: cover;
	height: 150px;
}

.addverts-email-string {
	display: flex;
}

.section-advert {
	.title-slider {
		min-height: 60px;
	}
	.swiper-slide p {
		min-height: 105px;
	}
}

.list-of-places {
	list-style: none;
	li {
		list-style: none;
	}
}

.banner-hostiq {
	img {
		width: 100%;
		display: block;
		margin: 0 auto;
		object-fit: cover;
	}

}
.add-hostiq-container{
	display: flex;
	justify-content: space-between;
	/*background-color: $blue;*/
	background-color: #00b7ec66;
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.add-hostiq-container_main{
	width: 100%;

	margin: 15px auto;
}

.button-hostiq {
	img{
		max-width: 95px;
		width: 100%;
		display: block;
		object-fit: contain;
		opacity: 0.9;
		&:hover{
			opacity: 1;

		}
	}

}

//---end--form--styles----------
// CUSTOM USER STYLES & IMPORTS
@import 'media';
