{% include /head-about.html %}
{% include /first-position-header.html %}
{% include /header-second-position.html %}
{% include /header-third-position.html %}
<main>
	<div class="article-content">
		<div class="container-cust">
			<div class="row">
				<div class="col-md-8">
					<div class="wrapper-content">
						<article class="main-article">
							<div class="article-body pb-lg-5 pb-md-4 pb-sm-1">
								<h3 class="introduction__short-about-us">
									Мы любители водного, пешего и двухколесного туризма.
								</h3>
								<p>Идея этого сайта не только систематизировать наши вылазки на природу с отметками мест где мы были, а также показать какая красивая у нас Родина и что ее необходимо беречь.</p>
								<p>Часто сталкивались с результатами небрежного отношения к природным ресурсам как на местных пляжах так и в заповедных зонах и по возможности устраняли. Свой мусор мы всегда вывозим с собой чего и вам желаем. Все что не может быть утилизировано естественным образом, без вреда природе должно быть возвращено в цивилизацию.</p>
								<p>Здесь по возможности будут подыматься темы экологии, где мы будем выставлять фотографии засоренным мест и их координаты с тем что бы привлечь внимание людей не безразличных и имеющих возможность посодействовать в устранении.</p>
								<p>Постепенно будут написаны обзоры по плавсредствам прошлого и настоящего, где кратко будет затронута история, описана материальная часть и при необходимости видение модернизации и дальнейшего использования.</p>
								<p>Рубрика гараж, для всех наших гаражных умельцев. С гаражей начинается что то большое, не всегда и не часто, но такое бывало...</p>
								<p>Рубрика "Что? Где? Когда?", по сути экспериментальная и в ней планируется размещать информацию экологического характера, планируемые мероприятия, околотуристические обзоры.</p>
								<p>Так же на этом сайте могут опубликоваться любые желающие авторы в рамках существующих тематик, разместить свое объявление.</p>
								<p>Сайт будет постепенно дорабатываться, меняться и дополняться по мере возможности и необходимости.</p>
								<p>В рамках существующих тем вы можете оставлять любые комментарии, при условии их соответствия нормативной лексике и общим моральным принципам. В общем, уважайте друг друга.</p>

							</div>
						</article>
					</div>
				</div>
				<div class="col-md-4">
{% include /main-aside.html %}
				</div>
			</div>
		</div>
	</div>

</main>

{% include /footer.html %}
