{% include /head-home.html %}

{% include /first-position-header.html %}
{% include /header-second-position.html %}


<main>

{% include /hostiq-adv-main.html %}
{% include /section-about-trip.html %}
{% include /hostiq-adv-main.html %}
{% include /about-canoe-section.html %}
{% include /hostiq-adv-main.html %}
{% include /garage-section.html %}
{% include /what-when-section.html %}
{% include /addverts-section.html %}
{% include /roll-up-button.html %}
</main>
{% include /footer.html %}





