<section class="footer">
	<footer>
		<div class="footer-content-wrapper">
			<div class="nav-footer-wrapper">
				<nav class="nav nav-footer">
					<span class="nav__line nav__line-footer"></span>
					<ul class="nav__list nav__list-footer">
						<li class="nav__item nav__item-footer"><a class="nav__link nav__link-footer"
								href="../blog/trips/">{{ site.nav1 }}</a>
						</li>
						<li class="nav__item nav__item-footer"><a class="nav__link nav__link-footer"
								href="../blog/about-canoe/">{{ site.nav2 }}</a>
						</li>
						<li class="nav__item nav__item-footer"><a class="nav__link nav__link-footer"
								href="../blog/garage/">{{ site.nav3 }}</a>
						</li>
						<li class="nav__item nav__item-footer"><a class="nav__link nav__link-footer"
								href="../blog/what-when/">{{ site.nav4 }}</a></li>
						<li class="nav__item nav__item-footer"><a class="nav__link nav__link-footer"
								href="../blog/addverts/">{{ site.nav5 }}</a>
						<li class="nav__item nav__item-footer"><a class="nav__link nav__link-footer"
								href="../blog/about-us/">{{ site.nav6 }}</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="nav-soc-wrapper">
				<div class="row">
					<nav class="nav-soc">
						<ul class="nav-soc__list">
							<li class="nav-soc__item"><a class="nav-soc__link" href="#"
									style="background-image: url(images/dest/facebook.png)"></a></li>
							<li class="nav-soc__item"><a class="nav-soc__link" href="#"
									style="background-image: url(images/dest/instagr.png)"></a></li>
							<li class="nav-soc__item"><a class="nav-soc__link" href="#"
									style="background-image: url(images/dest/youtub.png)"></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</footer>
	<footer>
		<div class="footer-content-wrapper">
			<div class="copyrights"><span>{{ site.time | date: '%Y' }}</span> <span>{{ site.copyright }}</span></div>
		</div>
	</footer>
</section>
<script async id="dsq-count-scr" src="//bajdaker.disqus.com/count.js"></script>
<script src="js/app.min.js"></script>

</body>
</html>

