<section class="slider-section about-garage home-section">
	<div class="container-cust"><h2 class="section-title ">{{ site.category_garage }}</h2></div>


	<div class="swiper-container swiper-container_custom ">
		<div class="swiper-button-next swiper-button_custom"></div>
		<div class="swiper-button-prev swiper-button_custom"></div>
		<div class="swiper-wrapper swiper-wrapper_custom">

{% for post in site.categories.garage limit: 20 offset: 0 %}
{% include /garage-slider-item.html %}
{% endfor %}

		</div>
		<div class="swiper-pagination swiper-pagination_left-red-active"></div>
	</div>

</section>
