<header class="top-line header-second-position">
	<div class="header__wrapper header__wrapper_background-darkblue">
		<div class="nav-wrapper">
			<div class="mobile-menu-button"></div>
			<div class="top-menu top-menu_desktop">
				<nav class="nav main-menu ">
					{% include /main-menu.html %}
				</nav>
			</div>
		</div>
		<div class="search-wrap">
			<div class="search-icon" title="Поиск по сайту..."></div>
			<div class="search-field">
				<form action="../search.html" id="cse-search-box">
					<input name="cx" type="hidden" value="partner-pub-xxx:xxx"/>
					<input name="cof" type="hidden" value="FORID:10"/>
					<input name="ie" type="hidden" value="UTF-8"/>
					<input name="q" placeholder="Поиск по сайту..." type="text"/>
				</form>
			</div>
		</div>
	</div>
</header>
