<span class="nav__line"></span>
<ul class="nav__list">
	<li class="nav__item "><a class="nav__link" href="../blog/trips/">{{ site.nav1 }}</a></li>
	<li class="nav__item"><a class="nav__link" href="../blog/about-canoe/">{{ site.nav2 }}</a></li>
	<li class="nav__item"><a class="nav__link" href="../blog/garage/">{{ site.nav3 }}</a></li>
	<li class="nav__item"><a class="nav__link" href="../blog/what-when/">{{ site.nav4 }}</a></li>
	<li class="nav__item"><a class="nav__link" href="../blog/addverts/">{{ site.nav5 }}</a></li>
	<li class="nav__item"><a class="nav__link" href="../blog/about-us/">{{ site.nav6 }}</a></li>
</ul>

